.odd {
    background-color: #aa4e4e;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}
.second {
    color: #236883;
    font-size: 36px;
}

.third {
    font-size: 24px;
}

.fourth {
    background-color: #37bb37;
    font-size: 24px;
    font-weight: bold;
}
